body {
    background-color: lightseagreen;
}

h1{
    text-align: center;
    margin-bottom: 50px;
}

.container {
    width: 80%;
    max-width: 900px;
}

.flex-outer {
    max-width: 800px;
    padding: 0px 16px;
}

.flex-outer li, .flex-inner{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.flex-outer > li > label, .flex-outer li p {
    flex: 1 0 125px;
    max-width: 225px;
    padding: 8px;
}

.flex-outer > li > label + *, .flex-inner {
    flex: 1 0 225px;
}

.flex-outer li button {
    padding: 6px 12px;
    border: none;
    background: white;
    text-transform: uppercase;
    letter-spacing: .09em;
    border-radius: 3px;
}

/*each list item (checkbox) has a width of 100px*/
.flex-inner li {
    width: 80px
}

/*consistent alignment between checkboxes*/
.flex-inner{
    justify-content: space-between;
}

